.root{
	-fx-font-size: 12pt;
	-fx-base: rgb(242,242,242);
}
#loginPane{
	
	-fx-background-color: aliceblue ;
	-fx-background-color: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
}
#containerPane{
	-fx-background-color: white;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,1,0.8), 10, 0, -5, 5);
}
#labelLogin{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,1,0.8), 10, 0, -2, 2);
}
#signinUserName{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 4, 0, -1, 1);
}
#signinPassword{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 4, 0, -1, 1);
}
#signinPassword_text{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 4, 0, -1, 1);
}
#btnLogin{
	-fx-background-radius: 5;
	-fx-background-color:#2980b9 ;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}
#lbError{
	-fx-text-fill: red;
}